.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.under{
  background-color: #282c34;
}

@media only screen and (max-width: 768px){
#footer-nav ul {
    padding-right: 0px;
    display: inline;

}

#footer-nav ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
  display: inline;

}
}

@media only screen and (max-width: 768px){
#footer-nav {
    margin-bottom: 15px;
    text-align: center;
    display: inline;
}

#footer-content {
  color: #777;
  padding: 30px 40px;
}

#site-footer {
  background: #FFF;
  padding-right: 150px;
  font-family: 'JF Flat Regular';
}
}

